asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
colorama==0.4.6
cryptography==46.0.5
Django==6.0.2
django-allauth==65.15.0
whitenoise[brotli]==6.8.2
idna==3.11
pillow==12.1.0
pycparser==3.0
PyJWT==2.12.1
qrcode==8.2
requests==2.32.5
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
psycopg2-binary==2.9.10
sqlparse==0.5.5
tzdata==2025.2
openpyxl
gunicorn
reportlab
django-import-export
requests
dj-database-url
python-decouple

