{% extends "base.html" %}
{% block content %}
  <section class="container page-title">
    <h1>Mon profil</h1>
  </section>
  <section class="container auth-card">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn" type="submit">Mettre à jour</button>
    </form>
    <div class="auth-links">
      <a class="link" href="{% url 'accounts:order_history' %}">Voir mes commandes</a>
      {% if user.is_superuser %}
        <a class="link" href="{% url 'accounts:admin_dashboard' %}">Administration</a>
      {% endif %}
    </div>
    <form method="post" action="{% url 'accounts:logout' %}" class="profile-logout-form">
      {% csrf_token %}
      <button type="submit" class="btn btn--danger profile-logout-form__btn">Se déconnecter</button>
    </form>
  </section>
{% endblock %}
